<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%=@message.name %>様からお問い合わせ</title>
  </head>
  <body>
    <h1>お問い合わせ内容</h1>
    <p><%= @message.message %></p>
  </body>
</html>
