<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>お問い合わせ完了</title>
  </head>
  <body>
    <h1><%=@message.name %>様</h1>
    <p>お問い合わせいただきありがとうございます。</p>
    <p>ご返信をお待ちください。</p>
  </body>
</html>
